
#pic-rcy{
    border-color:white;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;
    width: 200px;
    margin:50px 60px 60px 30%;
}
body{
    font-family: 'Patrick Hand', cursive;
}
#Headorname{
    text-align: center;
    font-size: 20px;
    margin: 10px 40% 10px 40% ;
}